* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    --cor-primaria: #5EB3C3;
    --cor-secundaria: #444644;
    --cor-terciaria: #e6e7e8;
    font-family: Arial, Helvetica, sans-serif;
}

.container-header {
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;
    height: 70px;
}

.menu-header ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu-header ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}


.colunas {
    background-color: var(--cor-primaria);
    display: flex;
    flex-wrap: wrap;
    padding: 8px 50px;
    gap: 80px;
}

.coluna-um {
    width: 40%;
}

.coluna-um figure {
    display: flex;
    justify-content: flex-end;

}

.coluna-dois {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    padding-bottom: 100px;
}

.awesome {
    color: #e6e7e8;
    font-weight: bolder;
}

.website-template {
    color: #e6e7e8;
    font-weight: lighter;
}

.subtitulo-branco {
    color: #e6e7e8;
    font-weight: lighter;
}

.sec-1 {
    padding: 30px 50px;
    background-color: var(--cor-secundaria);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    color: white;
}

.sec-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.card {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px;
}

.research,
.coordination,
.test {
    color: #444644;
}

.fully-customizable {
    color: #5EB3C3;
}

.card figure {
    flex-grow: 1;
}

.card p {
    text-align: justify;
    color: #444644;
    font-weight: lighter;

}

.sec-3 {
    background-color:#F4F9F9;
}

.apresentacao {
    order: 1;
    color: #444644;
    text-align: center;
    padding: 40px;
}

.sec-4{
    background-color: white;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    padding: 100px;
}

.sec-4 img{
    height: 30%;
    justify-content: center;


}

.desenvolvedores p {
    color: #444644;
    font-weight: lighter;
    padding-top: 20px;
}

.sec-5{
    background-color:#F4F9F9;

    display: flex;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}

.beautiful-layouts{
    order: 1;
    width: 50%;
    color: #444644;
    text-align: justify;
    padding-top: 50px;
    
}

.logos{
    order: 2;
    width: 30%;
}
.logos img{
    padding: 10px;
}

.contato{
    background-color: #444644;

    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 20px;
    color: white;
}

.about-us{
    width: 30%;
}

.get-in-touch{
    width: 30%;
}

.social-media{
    width: 30%;
}
.contato p{
    padding-top: 20px;
    color:gray;
}
.contato img {
   padding-top: 20px;
}